/.idea/
/.sonar/
/target/
/src/test/java/
/src/main/resources/client_secret.json
/src/main/webapp/WEB-INF/classes/
/src/main/webapp/resources/node_modules/
/src/main/webapp/resources/semantic/
/src/main/webapp/resources/images/
/src/main/webapp/resources/index.html
/src/main/webapp/resources/semantic.json
/src/main/webapp/resources/ckeditor/samples/